body {
    overflow: hidden;
    display: grid;
    grid-template-rows: 12vh 75vh 13vh;
}
header {
    grid-template-rows: 6fr 1fr 3fr 1fr;
    grid-template-areas:
    'title'
    '.'
    'instruction'
    '.';
    justify-content: center;
    width: 100vw;
}
main {
    display: grid;
}
header, footer {
    display: grid;
    align-content: center;
}
.title {
    grid-area: title;
    z-index: 2;
}
.instruction {
    grid-area: instruction;
}
h1 {
    font-size: 65px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    color: rgb(54, 54, 54);
}
h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 45px;
    font-weight: 600;
}
h3 {
    text-align: center;
    width: 15vh;
    font-size: 40px;
    font-family: 'Cormorant Garamond', serif;
    transform: rotate(325deg);
}
p {
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
}
.instruction {
    font-size: 20px;
}
.display {
    position: absolute;
    justify-content: center;    
    margin: 20vh 25vw;
    height: 30vh;
    width: calc(50vw - 30px);
    padding: 15px;
    background-color: rgba(223, 209, 193);
    background-color: rgba(223, 209, 193, 0.8);
    transform: scaleX(0.0001);
}
.content-container {
    display: grid;
    grid-template-columns: 30vh 1fr;
    grid-template-areas: 'image text';
    grid-gap: 20px;
}
.text-container {
    grid-area: text;
    height: 30vh;
    min-height: 240px;
    overflow: auto;
}
.image-container {
    grid-area: image;
    display: grid;
    justify-content: center;
}
img {
    height: 30vh;
    width: 30vh;
    object-fit: cover;
}
.scroll {
    display: grid;
    justify-content: center;
}
.left-scroll, .right-scroll {
    position: absolute;
    width: 100%;
    height: 70vh;
    object-fit: contain;
    transition: transform 1s ease-out;
}
.scroll-body {
    margin: 5vh 10vw;
    width: 80vw;
    height: 65vh;
    background-image: url('assets/scroll.png');
    background-position: center;
    background-size: contain;
    transition: transform 1s;
}
.left-scroll {
    background-image: linear-gradient(to left, rgb(255, 255, 255, 0), rgb(255, 255, 255, 0), rgb(255, 255, 255, 0), rgb(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255), rgba(255, 255, 255), rgba(255, 255, 255));
    left: -3vw;
}
.right-scroll {
    background-image: linear-gradient(to right, rgb(255, 255, 255, 0), rgb(255, 255, 255, 0), rgb(255, 255, 255, 0), rgb(255, 255, 255, 0), rgba(255, 255, 255), rgba(255, 255, 255), rgba(255, 255, 255), rgba(255, 255, 255));
    left: 3vw;
}
.close {
    z-index: 1;
}
.left-open {
    transform: translateX(-35%);
}
.right-open {
    transform: translateX(35%);
}
.arrow {
    display: grid;
    grid-template-columns: 15vh calc(100vw - 30vh) 15vh;
    justify-content: center;
}
.arrow-head, .arrow-tail {
    transform: rotate(180deg);
    width: 7.5vh;
    height: 7.5vh;
    object-fit: contain;
    background-color: white;
}
.arrow-head {
    padding: 0 0 0 7.5vh;
}
.arrow-tail {
    padding: 0 7.5vh 0 0;
    z-index: 1;
}
.arrow-body {
    transform: rotate(180deg) scaleX(2) scaleY(0.1);
    width: calc(100vw - 30vh);
    height: 7.5vh;
    object-fit: contain;
    cursor: pointer;
}
.coin {
    position: absolute;
    z-index: 1; 
    left: 15vh;
    top: 91.5vh;
}
.coin img {
    width: 4vh;
    height: 4vh;
}
.marking {
    display: grid;
    text-align: center;
    color: white;
    width: fit-content;
    position: absolute;
    top: 87vh;
    cursor: pointer;
    transition: color 0.2s;
}
.bottom-marking {
    margin: 7vh 0 0 0;
}
.overlay {
    display: grid;
    justify-content: center;
    align-content: center;
    position: absolute;
    z-index: 2;
    margin: 30vh calc(50vw - 10vh);
    width: 20vh; 
    height: 20vh;
    overflow: auto;
    border-radius: 50%;
    color: rgb(200, 200, 200);
    background-color: rgb(158, 0, 0); 
    background-color: rgba(158, 0, 0, 0.9);
    cursor: pointer; 
    transition: color 0.5s;
}
.overlay:hover {
    color: rgb(54, 54, 54);
    transition: color 0.5s;
}
.close-button {
    display: grid;
    grid-template-columns: 120px 30px 50px;
    align-items: center;
    text-align: center;
    text-justify: center;
    position: absolute;
    margin: 60vh 0 0 60vw;
    transition: color 0.5s;
}
#close-button {
    font-family: 'Aguafina Script', cursive;
    color: rgb(175, 0, 0);
    font-size: 50px;
    cursor: pointer;
}
#button-description {
    font-family: 'Aguafina Script', cursive;
    color: rgb(54, 54, 54);
    font-size: 25px;
}
span {
    justify-self: center;
    font-size: 20px;
    transition: color 0.5s;
}
.closing {
    position: absolute;
    text-align: center;
    color: white;
    width: 100vw;
    top: 87.5vh;
    display: grid;
    grid-template-rows: 6vh 1vh 6vh;
    transition: color 1s;
}
.close-button:hover {
    color: rgb(54, 54, 54);
    transition: color 0.5s;
}
.revealed {
    transform: scaleX(1);
    transition: transform 1s;
}
.fade-in {
    color: rgb(54, 54, 54);
    transition: color 1s;
}
.highlight {
    color: tomato;
    transition: color 0.5s;
}
.hidden {
    display: none;
}

@media (max-height: 800px) {
    body {
        overflow-y: scroll;
        grid-template-rows: 96px 600px 104px; 
    }
    header {
        grid-template-rows: 70px 2px 22px 2px;
    }
    .scroll-body {
        height: 520px;
        margin: 40px 10vw;
    }
    .left-scroll, .right-scroll {
        height: 560px;
    }
    .display{
        margin: 160px 0 0 25vw;
        height: 240px;
    }
    .overlay {
        margin: 240px 0 0 calc(50vw - 80px);
        width: 160px; 
        height: 160px;
    }
    h3 {
        width: 120px;
    }
    img {
        height: 240px;
        width: 240px;
    }
    .content-container {
        grid-template-columns: 240px 1fr;
    }
    .navigation-top {
        margin: 96px 0 0 calc(50vw - 75px);
    }
    .navigation-bottom {
        margin: 480px 0 0 calc(50vw - 75px);
    }
    .close-button {
        margin: 480px 0 0 60vw;
    }
    .coin {
        left: 120px;
        top: 732px;
    }
    .coin img {
        width: 32px;
        height: 32px;
    }
    .marking {
        top: 700px;
    }
    .bottom-marking {
        margin: 56px 0 0 0;
    }
    .arrow-head, .arrow-tail {
        width: 60px;
        height: 60px;
    }
    .arrow-body {
        height: 60px;
    }
    .arrow-head {
        padding: 0 0 0 60px;
    }
    .arrow-tail {
        padding: 0 60px 0 0;
    }
    .arrow {
        grid-template-columns: 120px calc(100vw - 240px) 120px;
    }
    .closing {
        top: 702px;
        grid-template-rows: 48px 8px 48px;
    }
}

/* @media (max-width: 1200px) {
    .closing {
        font-size: 20px;
    }
    .instruction {
        display: none;
    }
    .left-scroll, .right-scroll {
        transform: rotate(90deg);
        left: 0;
        margin: 0;
    }
    .left-open {
        transform: rotate(90deg) translateX(-70%) translateY(-5vw);
    }
    .right-open {
        transform: rotate(90deg) translateX(80%) translateY(-5vw);
    }
    .scroll-body {
        transform: rotate(90deg);
        margin: 10vh 10vw;
        width: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .display, .time-slider, .progress-bar {
        display: none;
    }
} */